.dgt {
    border: 1px solid #362a15;
    background-color: #d1c6b2;
    float: left;
}

#base\ select {
    border: 1px solid #362a15;
    border-left-width: 2px;
    border-right-width: 0;
    background-color: #cab289;
    width: 100%;
    height: 12%;
    font-size: 2vw;
}

.func {
    border: 1px solid #362a15;
    border-left-width: 2px;
    border-right-width: 0;
    background-color: #ad956a;
    width: 50%;
    height: 22%;
    float: left;
    font-size: 5vw;
}