body {
    margin: 20px;
    background-color: #594f3e;
}

.wrap {
    padding-top: 45%;
    width: 60%;
    position: relative;
    margin: auto;
}

.wrap > div {
    border: 4px solid #362a15;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#disp_cont {
    width: 100%;
    height: 25%;
    background-color: #e3b86d;
    padding: 0;
    border: 0 solid #362a15;
    border-bottom-width: 2px;
}

#interaction {
    width: 100%;
    height: 75%;
    padding: 0;
}

#digits {
    width: 70%;
    height: 100%;
    background-color: #362a15;
    padding: 0;
    float: left;
}

#functions {
    width: 30%;
    height: 100%;
    background-color: #cab289;
    padding: 0;
    float: right;
}