#display {
    overflow-x: scroll;
    display: table;
}

#disp_text {
    margin-left: 25%;
    font-size: 5vw;
    text-align: left;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
}